* { margin:0; padding:0; box-sizing:border-box; }

body {
  font-family: 'Fira Code', monospace;
  background-color: #0d0d0d;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  gap:35px;
}

.console {
  max-width: 1600px;
  width: 90%;
  font-size: 3rem;
  line-height: 4rem;
}

.cursor {
  display: inline-block;
  width: 20px;
  animation: blink 0.5s step-start infinite;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}

.name {
  color: #aaa; 
  background: linear-gradient(90deg, #8a8a8a 0%, #fff 20%, #8a8a8a 40%);
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3.5s linear infinite;
  text-shadow: 0px 0px 15px rgb(77, 77, 77);
}

@keyframes shine {
  0% { background-position: -200% 0; }
  100% { background-position: 200% 0; }
}

.github-btn {
    text-decoration: none;
    color: rgb(34, 76, 91);
    font-size: 2rem;
    transition: 0.4s all ease;
}
.github-btn:hover {
    text-shadow: 0px 0px 15px rgba(190,190,190,0.4); 
    color: #5050BF;
}
.langs {
    max-width: 1600px;
    gap: 40px;
    display: flex;
    width: 90%;
    height: auto;

}
.langs > * {
    opacity: 0;
    transform: translateY(15px);
    transition: opacity 2s ease, transform 1.2s ease;
}
.langs img {
    width: 50px;
    height: auto;
}
